.App-block1 {
  text-align: center;
  border:solid;
  height: 20%;
  position:fixed;
  width: 100%;
  z-index:2;     
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  z-index:1;    
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-block2{
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	min-height: 65%;
	min-width: 100%;
	background: ;
    position: ;
    overflow-y:;
    margin-bottom:140px;
    
  
}

.App-content-block{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
    margin-top: 10px;
}

.App-content-block-text{
	border:3px solid grey;
	border-radius: 10px;
	display: flex;
    flex-direction: column;
	align-items: flex-start;
}

body{
    display: flex;
	height: 100%;
	position:relative;
    flex-direction: column;
}
.App-block3{
    display: block;
	display:flex;
	position:fixed;
	left:0;
	bottom:0;
	width: 100%;
	height:10%;
	border:solid;
    z-index:2;
}

.intext{
	width: 90%;
}
.outtext{
	width: 10%;
}